@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    background: url(/Images/wallpaperflare.com_wallpaper\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

textarea {
    width: 80%;
    height: 15vh;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: large;
    outline: none;
    background: linear-gradient(10deg,#b8b5a6,white);
}

#output {
    border: 1px solid black;
    width: 80%;
    height: 15vh;
    margin: auto;
    background-color: #17141b;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-size:40px;

}

h1 {
    color: rgb(243, 67, 23);
    font-weight: 50;
    font-size: 3.5rem;
}

#btn-translate {
    background-color: wheat;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    transition: 0.5s;
}

#btn-translate:hover {
    background-color: whitesmoke;
}

img {
    width: 100%;
    height: auto;
}

p {
    color: aliceblue;
}